<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,792},{42,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,29}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>btn_bonus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,966},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_bonus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,794},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_bonus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,794},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_bonus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,667},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_bonus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,540},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_bonus_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,667},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,45}</string>
            </dict>
            <key>btn_bonus_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,666},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>btn_bonus_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,540},{124,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,45}}</string>
                <key>sourceSize</key>
                <string>{124,45}</string>
            </dict>
            <key>btn_cj_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,496},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{84,23}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>btn_cj_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,410},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{84,23}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>btn_moreGame_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1016},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_moreGame_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,966},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_scene_1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{115,140}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{115,140}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_1_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{115,140}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{115,140}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,278},{125,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{125,130}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{125,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{125,130}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_3_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,136},{111,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{111,132}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_3_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{111,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{111,132}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_4_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{137,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_4_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_5_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{117,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{117,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_5_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{117,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{117,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_6_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,410},{109,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{109,128}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_scene_6_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{109,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{109,128}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>btn_settings_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,612},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>btn_settings_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,582},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>btn_settings_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,867},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,836},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,921},{99,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>moreGameTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,897},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>sector.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,792},{20,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,3}}</string>
                <key>sourceSize</key>
                <string>{20,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001.png</string>
            <key>size</key>
            <string>{255,1093}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb01f7814e8d4009e5f3572781600143:3e126335c42d577e09a4f4d4b2c9b74f:c05788dc97244ac7368107d8d217d97a$</string>
            <key>textureFileName</key>
            <string>001.png</string>
        </dict>
    </dict>
</plist>
