<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,143},{88,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,31}}</string>
                <key>sourceSize</key>
                <string>{90,33}</string>
            </dict>
            <key>back_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,168},{88,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,31}}</string>
                <key>sourceSize</key>
                <string>{90,33}</string>
            </dict>
            <key>bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{402,264}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{402,264}}</string>
                <key>sourceSize</key>
                <string>{440,286}</string>
            </dict>
            <key>biaoqian_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,48},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>biaoqian_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,79},{120,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,27}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>btn_exit_dis_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,137},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn_exit_down_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,106},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn_exit_up_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,75},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn_shop_buy_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,274},{114,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,81}}</string>
                <key>sourceSize</key>
                <string>{118,85}</string>
            </dict>
            <key>btn_shop_buy_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,191},{114,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,81}}</string>
                <key>sourceSize</key>
                <string>{118,85}</string>
            </dict>
            <key>btn_shop_buy_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,108},{114,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,81}}</string>
                <key>sourceSize</key>
                <string>{118,85}</string>
            </dict>
            <key>coin_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,48},{36,25}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{36,25}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>coin_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,454},{42,31}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{42,31}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>coin_3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,110},{58,31}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{58,31}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>coin_4_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,454},{52,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>coin_5_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,454},{62,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{62,39}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>coin_6_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,454},{78,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,41}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>left_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,120},{16,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{16,18}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,454},{52,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{52,54}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,102},{16,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{16,20}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>refresh_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,26},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>refresh_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,50},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>refresh_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>right_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,66},{16,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{16,18}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{52,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,54}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,84},{16,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{16,20}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>sign_shop_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,48},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,44}}</string>
                <key>sourceSize</key>
                <string>{480,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0529c0b7c728445e8b716496c473bc01$</string>
            <key>textureFileName</key>
            <string>003.png</string>
        </dict>
    </dict>
</plist>
