<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buy_dis_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>btn_buy_down_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,84},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>btn_buy_up_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>quickGo_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>quickGo_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>005_tw.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cf764d4d86cbb005a5f1c9dfe98705:3ca164367d2ea4524f6f4c2dcdff3f13:51d8cc29c68eb6b748cdcf50df60773e$</string>
            <key>textureFileName</key>
            <string>005_tw.png</string>
        </dict>
    </dict>
</plist>
