<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maotouying0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,164},{16,10}}</string>
                <key>offset</key>
                <string>{-103,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,150},{16,10}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,204},{142,50}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,110},{142,50}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{192,108}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,52},{192,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,160}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{224,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{222,160}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{222,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,350},{142,160}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{142,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{124,146}}</string>
                <key>offset</key>
                <string>{58,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,178},{170,88}}</string>
                <key>offset</key>
                <string>{35,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{170,88}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,164},{150,62}}</string>
                <key>offset</key>
                <string>{45,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,164},{88,38}}</string>
                <key>offset</key>
                <string>{66,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,256},{76,18}}</string>
                <key>offset</key>
                <string>{53,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{76,18}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,294},{38,34}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,314},{26,30}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,294},{36,24}}</string>
                <key>offset</key>
                <string>{-30,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,228},{40,26}}</string>
                <key>offset</key>
                <string>{-40,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,252},{50,16}}</string>
                <key>offset</key>
                <string>{-53,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{54,20}}</string>
                <key>offset</key>
                <string>{-61,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,256},{52,36}}</string>
                <key>offset</key>
                <string>{-70,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,136},{54,40}}</string>
                <key>offset</key>
                <string>{-79,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{54,44}}</string>
                <key>offset</key>
                <string>{-86,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,178},{60,44}}</string>
                <key>offset</key>
                <string>{-90,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,246},{46,48}}</string>
                <key>offset</key>
                <string>{-94,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,48},{44,54}}</string>
                <key>offset</key>
                <string>{-98,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,94},{54,40}}</string>
                <key>offset</key>
                <string>{-93,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{54,40}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,256},{50,40}}</string>
                <key>offset</key>
                <string>{-95,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{50,40}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,204},{38,50}}</string>
                <key>offset</key>
                <string>{-101,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{38,50}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,270},{42,44}}</string>
                <key>offset</key>
                <string>{-95,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,310},{22,52}}</string>
                <key>offset</key>
                <string>{-89,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,46},{22,52}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,228},{22,50}}</string>
                <key>offset</key>
                <string>{-86,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,49},{22,50}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,228},{22,48}}</string>
                <key>offset</key>
                <string>{-83,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{22,48}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,278},{22,38}}</string>
                <key>offset</key>
                <string>{-77,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,60},{22,38}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,308},{24,36}}</string>
                <key>offset</key>
                <string>{-75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,63},{24,36}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,314},{24,34}}</string>
                <key>offset</key>
                <string>{-72,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,66},{24,34}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,330},{28,24}}</string>
                <key>offset</key>
                <string>{-71,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,72},{28,24}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,362},{28,24}}</string>
                <key>offset</key>
                <string>{-68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,73},{28,24}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,342},{26,24}}</string>
                <key>offset</key>
                <string>{-64,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,74},{26,24}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,340},{24,30}}</string>
                <key>offset</key>
                <string>{-59,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{24,30}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,332},{24,28}}</string>
                <key>offset</key>
                <string>{-56,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,74},{24,28}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,366},{24,26}}</string>
                <key>offset</key>
                <string>{-53,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,76},{24,26}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,228},{26,32}}</string>
                <key>offset</key>
                <string>{-47,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{26,32}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,334},{26,30}}</string>
                <key>offset</key>
                <string>{-44,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,71},{26,30}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,346},{26,28}}</string>
                <key>offset</key>
                <string>{-40,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{26,28}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,376},{22,22}}</string>
                <key>offset</key>
                <string>{-40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,80},{22,22}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,318},{22,22}}</string>
                <key>offset</key>
                <string>{-36,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,80},{22,22}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,350},{22,20}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,81},{22,20}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,292},{20,20}}</string>
                <key>offset</key>
                <string>{-30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{20,20}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,270},{20,20}}</string>
                <key>offset</key>
                <string>{-26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,81},{20,20}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,388},{20,18}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{20,18}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,342},{18,18}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{18,18}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,362},{18,16}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,82},{18,16}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,356},{18,16}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,81},{18,16}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,334},{22,14}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,80},{22,14}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,164},{22,12}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,81},{22,12}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{22,12}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,80},{22,12}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,164},{16,12}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,80},{16,12}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,164},{14,10}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,80},{14,10}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,164},{14,10}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,79},{14,10}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{10,10}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,79},{10,10}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,498},{10,8}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,79},{10,8}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>maotouying0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,498},{8,8}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,77},{8,8}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>005_8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf11a6caeef8bfc9732ca490e4b1bbd$</string>
            <key>textureFileName</key>
            <string>005_8.png</string>
        </dict>
    </dict>
</plist>
