<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_backlobby_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>btn_backlobby_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>btn_backlobby_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,69},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>btn_clear_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>btn_clear_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>btn_record_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>btn_record_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>005_Ex_cn.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:367e34a3a9e6a05acab9f8c7614aee4a:edab88d3e4976a1a434cf447f49ff322:9e40ab2e0e8e41230472a5554e01a34a$</string>
            <key>textureFileName</key>
            <string>005_Ex_cn.png</string>
        </dict>
    </dict>
</plist>
