<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>beijing1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{241,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,34}}</string>
                <key>sourceSize</key>
                <string>{241,34}</string>
            </dict>
            <key>beijing1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{241,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,94}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>beijing1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{241,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,34}}</string>
                <key>sourceSize</key>
                <string>{241,34}</string>
            </dict>
            <key>beijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,245},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,245},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{439,4}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,4}}</string>
                <key>sourceSize</key>
                <string>{465,4}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{439,6}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,6}}</string>
                <key>sourceSize</key>
                <string>{465,6}</string>
            </dict>
            <key>line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{394,5}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{394,5}}</string>
                <key>sourceSize</key>
                <string>{420,5}</string>
            </dict>
            <key>line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{394,5}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{394,5}}</string>
                <key>sourceSize</key>
                <string>{420,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>005_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7261c54bef1190b6f3c2f4f7e56b9a12$</string>
            <key>textureFileName</key>
            <string>005_4.png</string>
        </dict>
    </dict>
</plist>
