<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanbi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,19},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>guanbi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,19},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>moregame_titile.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{124,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,15}}</string>
                <key>sourceSize</key>
                <string>{124,15}</string>
            </dict>
            <key>moregame_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>301.png</string>
            <key>size</key>
            <string>{450,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52095fab2817c85be33b529a6199b0b2:6e793d81f08d72d2d59ba62d9d041acb:84b63f9bcf17de54df800e5c29c4cf47$</string>
            <key>textureFileName</key>
            <string>301.png</string>
        </dict>
    </dict>
</plist>
