<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,187},{29,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,39}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{21,41}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,41}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,146},{23,39}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,39}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,105},{25,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,39}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,171},{31,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{31,39}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{27,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,140},{29,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{29,47}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{31,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,47}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,72},{31,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,105},{33,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{33,47}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,37},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CountDown0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2872eac1868f917b9802499ce2a82db$</string>
            <key>textureFileName</key>
            <string>CountDown0.png</string>
        </dict>
    </dict>
</plist>
